@model IEnumerable<CA2017.Models.GrantType>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grant Types or not</h1>
</div>

<div>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.GrantTypeName)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypeDescription)</th>
            <th>@Html.DisplayNameFor(model => model.GrantTypemaximum)</th>
        </tr>
        @foreach(var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(Model => item.GrantTypeName)</td>
            <td>@Html.DisplayFor(Model => item.GrantTypeDescription)</td>
            <td>@Html.DisplayFor(Model => item.GrantTypemaximum)</td>
        </tr>
        }

    </table>
        
</div>